*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  align-items: center;
  animation: mb 3s alternate infinite;
  background-image: radial-gradient(#EE786E 10%, #FCEEB5 11%);
  background-position: 2.5em 2em;
  background-size: 5em 5em;
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: center;
}
body::after {
  background-image: radial-gradient(#A2CCB6 10%, rgba(252, 238, 181, 0) 11%);
  background-size: 5em 5em;
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

h1,
div {
  margin: 0;
  padding: 0;
}

h1 {
  animation: month 6s alternate infinite;
  margin-bottom: 0.1em;
  color: #A2CCB6;
  font-size: 2rem;
  text-shadow: 0 -0.05em #A2CCB6;
  transform: translatez(1.6em) translatey(-2.2em);
}

.date {
  animation: date 10s alternate infinite;
  color: #A2CCB6;
  font-size: 2.5em;
  margin-top: -0.1em;
  text-shadow: 0 -0.04em #EE786E;
  transform: translatey(-2em) translatez(0.9em);
}

.container {
  perspective: 400px;
}

.card {
  animation: card 6s alternate infinite;
  background-color: #FCEEB5;
  border-radius: 0.3em;
  border: 0.2em solid #EE786E;
  box-shadow: 0 -0.2em 0 0.4em #A2CCB6;
  font-family: 'Fredoka One', cursive;
  padding: 5em 4em;
  position: relative;
  top: 1em;
  transform-style: preserve-3d;
  transform: rotateX(-10deg);
}
.card:first-line {
  color: #EE786E;
}

.cake {
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translatez(3.5em);
  width: calc(100% - (1 * 4em));
  animation: cm 6s alternate infinite;
}
.cake * {
  border-radius: 0.4em 0.4em 0.1em 0.1em;
  margin: 0 auto;
}
.cake .layer.top {
  background-color: #EE786E;
  border-radius: 50%;
  height: 2em;
  position: relative;
  top: 1.5em;
  width: 89%;
}
.cake .layer.top .candle {
  background: #A2CCB6;
  bottom: 1.2em;
  height: 2.6em;
  left: 50%;
  position: absolute;
  transform: translatex(-50%);
  width: 0.4em;
}
.cake .layer.top .candle::after {
  background-color: #EE786E;
  border-radius: 0 75% 75% 75%;
  content: '';
  height: 1em;
  left: -0.05em;
  position: absolute;
  top: -0.8em;
  transform: rotatex(50deg) rotatey(45deg);
  width: inherit;
}
.cake .layer._1 {
  border-radius: 1em 1em 10% 10%;
  height: calc(10 * (4em / 6));
  background-color: #A2CCB6;
  width: 90%;
  background-size: 10% 10%;
}
.cake .layer._1 .piece {
  position: relative;
  top: 0.8em;
  left: 0;
  width: 30%;
  height: 100%;
  perspective: 200px;
}
.cake .layer._1 .piece::after, .cake .layer._1 .piece::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
}
.cake .layer._1 .piece::after {
  left: 48%;
  transform: skewy(28.5deg) rotateY(-19deg);
  background-image: linear-gradient(#EE786E 4%, #FCEEB5 5%, #FCEEB5 20%, #EE786E 21%, #EE786E 35%, #FCEEB5 36%, #FCEEB5 45%, #EE786E 46%, #EE786E 50%, #FCEEB5 51%, #FCEEB5 55%, #EE786E 56%, #EE786E 60%, #FCEEB5 61%, #FCEEB5 65%, #EE786E 66%, #EE786E 70%, #FCEEB5 71%, #FCEEB5 78%, #EE786E 79%, #EE786E 86%, #FCEEB5 87%);
}
.cake .layer._1 .piece::before {
  left: 2%;
  transform: skewy(-28.5deg) rotateY(19deg);
  background-image: linear-gradient(#EE786E 4%, #fbe89c 5%, #fbe89c 20%, #eb6357 21%, #eb6357 35%, #fbe89c 36%, #fbe89c 45%, #eb6357 46%, #eb6357 50%, #fbe89c 51%, #fbe89c 55%, #eb6357 56%, #eb6357 60%, #fbe89c 61%, #fbe89c 65%, #eb6357 66%, #eb6357 70%, #fbe89c 71%, #fbe89c 78%, #eb6357 79%, #eb6357 86%, #FCEEB5 87%);
}
.cake .layer.base {
  position: relative;
  width: 90%;
  bottom: 1em;
  z-index: -1;
  border-radius: 50%;
  height: 1.5em;
  background-image: linear-gradient(to right, #A2CCB6 40%, #FCEEB5 40%, #FCEEB5 40% 51%, #A2CCB6 52%);
}

@keyframes mb {
  to {
    background-position: 2.3em 1.8em;
  }
}
@keyframes month {
  to {
    text-shadow: 0 -0.01em #A2CCB6;
  }
}
@keyframes date {
  to {
    margin-top: -0.2em;
    text-shadow: 0 -0.01em #EE786E;
    transform: translatey(-2em) translatez(0.3em);
  }
}
@keyframes card {
  to {
    transform: rotateX(-5deg);
  }
}
@keyframes cm {
  to {
    transform: translateX(-50%) translatez(3.15em);
  }
}
