<footer class="site-footer">
  <div class="container">
    <!-- Statcounter code for A6unraj.com
http://a6unraj.com/blog on Tumblr -->
<script type="text/javascript">
var sc_project=9373358; 
var sc_invisible=1; 
var sc_security="ca709477"; 
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<!-- End of Statcounter Code -->
<small class="block"><a href="https://statcounter.com/p9373358/?guest=1"><img src = 'https://c.statcounter.com/9373358/0/ca709477/0/'></a></small>
  </div>
</footer>
