<nav class="side">
    <div class="side__inner">
        <div class="menu">
        <a href="https://arunraj.eu" title="Home">Home</a>
        <a href="https://arunraj.eu/weblog" title="Web Log">WebLog</a>   
        <a href="https://arunraj.eu/sap" title="SAP Blog"  style="font-weight:800">SAP</a>
        <a href="https://arunraj.eu/reviews" title="Reviews">Reviews</a>    
        <a href="https://arunraj.eu/memories/index.html" title="Memories">Memories</a>    
        <a href="https://arunraj.eu/ispeak" title="iSpeak">iSpeak</a>
        <a href="https://arunraj.eu/timeline/index.html" title="Timeline">Timeline</a>
        <a href="https://arunraj.eu/portfolio" title="Portfolio">Portfolio</a>
        </div>
    </div>
</nav>
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}"><span>{{ site.description }}</span></a></h1>
    <ul class="navbar">
      <li><a href="../../../profile">Profile</a></li>
    </ul>
  </div>
</nav>

<script>
var linkRewriter = function(a, b) {
    $('a[href*="' + a + '"]').each(function() {
        $(this).attr('href', $(this).attr('href').replace(a, b));
    });
};

linkRewriter('a6unraj.com', 'arunraj.eu');
</script>
