<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://a6unraj.com">Home</a></li>
    <li class="breadcrumb-item active"><a "/"{Target}>SAP Blog</a></li>
  </ol>
</nav>
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}-<span>{{ site.description }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/profile/' | prepend: site.baseurl | prepend: site.url }}">Profile</a></li>
    </ul>
  </div>
</nav>
