<nav class="side">
    <div class="side__inner">
        <div class="menu">
        <a href="./../../" title="Home">Home</a>
        <a href="https://a6unraj.com/blog" title="Blog">Blog</a>   
        <a href="https://a6unraj.com/sap" title="SAP Tutorials"  style="font-weight:800">SAP</a>
        <a href="https://a6unraj.com/reviews" title="Reviews">Reviews</a>    
        <a href="https://a6unraj.com/memories" title="Memories">Memories</a>    
        <a href="https://a6unraj.com/timeline" title="Timeline">Timeline</a>
        </div>
    </div>
</nav>
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}"><span>{{ site.description }}</span></a></h1>
    <ul class="navbar">
      <li><a href="./../profile">Profile</a></li>
    </ul>
  </div>
</nav>

<script>
var linkRewriter = function(a, b) {
    $('a[href*="' + a + '"]').each(function() {
        $(this).attr('href', $(this).attr('href').replace(a, b));
    });
};

linkRewriter('a6unraj.com', 'arunraj.eu');
</script>
